<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
		 convertErrorsToExceptions="true"
		 convertnoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 processIsolation="false"
		 stopOnFailure="false"
		 syntaxCheck="true"
		 bootstrap="src/Email.php">
	<testsuites>
		<testsuite name="Test suite">
			<directory>tests/</directory>
		</testsuite>
	</testsuites>

</phpunit>